@import "../../../UI";

.planning-page {
  height: 100%;
  padding: 0 67px;
  background: $back;

  .subheader {
    height: 88px;
    padding-top: 16px;
  }

  .current-path {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: $secondary-text;
  }

  .route-title {
    display: flex;
    padding-top: 7px;

    .icon {
      height: 45px;
      margin: 0 22px 0 2px;
    }

    .subpage-title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 38px;
      line-height: 40px;
      margin: 0;
    }
  }

  .planning-type {

    //height: 100%;
    ::ng-deep .mat-tab-body-wrapper {
      height: 100%;
    }

    @extend .mat-tab-custom;

    padding-top: 32px;

    .main-filters {
      display: flex;
      flex-wrap: wrap;
      margin-top: 45px;

      @extend .input-form-field;

      .find-filter-box, .period-form {
        @extend .input-form-field;
      }


      .search-form {
        ::ng-deep {
          .mat-form-field-flex {
            padding-left: 34px;
          }
        }
      }

    }

    .filters-footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 8px;
      margin-bottom: 35px;

      @extend .input-form-field;


      p {
        color: $secondary-text;
        font-size: 12px;
        margin-right: 92px;
        margin-bottom: 0;
      }

      .filter-button {
        @extend .iconized-button;
        margin-right: 16px;
        padding-left: 2px;

        .icon {
          width: 14px;
          height: 14px;
          margin-right: 10px;
        }
      }

      .reset-filters-button {
        @extend .iconized-button;
        color: $secondary-text;
        margin-left: 13px;
        font-weight: 600;

        .icon {
          //width: 10px;
          margin-right: 10px;
          padding-right: 2px;
          padding-top: 0;
        }
      }

    }

  }


  .plannings-table {
    margin: auto;
    width: 100%;


    .mat-header-row ::ng-deep .mat-sort-header-content {
      font-size: 10px;
      line-height: 12px;
      padding-top: 12px;
    }

    .mat-row, .mat-header-row {
      height: 44px;
    }

    .mat-row {

      &:hover {
        background-color: $hover-checkbox;
        //.mat-column-date {
        //  box-shadow: -8px 0 0px 0px red;
        //}
      }
    }

    .mat-sort-header, .mat-cell {
      padding: 0;
      border: none;
      font-size: 12px;
      line-height: 16px;
      height: 44px;
    }

    .plannings-rows {
      width: 100%;
    }

    .mat-column-date {
      width: 110px;
      border-radius: 4px 0 0 4px;
    }

    .mat-column-title {
      width: 576px;
    }

    .mat-column-membersCount {
      width: 136px;
    }

    .mat-column-trainer {
      width: 132px;
    }

    .mat-column-progress {
      &.mat-cell {
        padding-bottom: 6px;
        padding-right: 5px;
        color: $secondary-text;

        .icon {
          padding-bottom: 0;
          padding-top: 1px;
          padding-left: 3px;
          width: 17px;
          height: 17px;
          margin-right: 4px;
        }

      }
    }

    .mat-column-menu {
      border: none;
      border-radius: 0 4px 4px 0;
    }

    .icon {
      width: 16px;
      height: 16px;
      position: relative;
      top: 2px;
    }

    .options-menu {
      text-align: right;

      .mat-icon {
        font-size: 15px;
      }
    }
  }
}

.mat-menu-item {
  height: 36px;
  display: flex;
  align-items: center;

  .icon {
    width: 14px;
    height: 14px;
  }
}

