<div class="planning-page">
  <div class="subheader">
    <div class="current-path">
      <p>Главная&nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;&nbsp;Планирование</p>
    </div>
    <div class="route-title">
      <mat-icon class="icon" svgIcon="planning"></mat-icon>
      <h1 class="subpage-title">Планирование</h1>
    </div>
  </div>

  <mat-tab-group class="planning-type">
    <mat-tab class="type-tab" label="Групповое">


      <div class="main-filters">
        <div class="find-filter-box">
          <mat-form-field class="search-form" appearance="fill">
            <mat-icon class="icon" svgIcon="search"></mat-icon>
            <mat-label>
              Поиск
            </mat-label>
            <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="tableHandler()">
            <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear"
                    (click)="searchText='';tableHandler()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Программа</mat-label>
          <mat-icon class="select-icon" svgIcon="expand"></mat-icon>
          <mat-select #matSelectTitle
                      [formControl]="titlesSelect"
                      (ngModelChange)="tableFiltering.programTitle=titlesSelect.value; tableHandler();">
            <mat-option (click)="resetTitleFilter()" value="Все">Все</mat-option>
            <mat-option *ngFor="let num of titlesVals" [value]="num">
              {{titlesNames[num]}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width period-form" appearance="fill">
          <mat-label>Период</mat-label>
          <input #dateInput matInput (dateChange)="closeDatePicker($event.value, picker); tableHandler()"
                 [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="multi-year"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Статус</mat-label>
          <mat-icon class="select-icon" svgIcon="expand"></mat-icon>
          <mat-select #matSelectStatus
                      [formControl]="statusSelect"
                      (ngModelChange)="tableFiltering.status=statusSelect.value; tableHandler();">
            <mat-option (click)="tableFiltering.status=0" value="Все">Все</mat-option>
            <mat-option *ngFor="let num of statusVals" [value]="num">
              {{statusNames[num - 1]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="filters-footer">

        <!--        или сесси(Й/Я)-->
        <p>34 сессии</p>

        <button class="filter-button" (click)="isAddFiltersOpened = !isAddFiltersOpened">
          <mat-icon class="icon" svgIcon="filter"></mat-icon>
          Настроить фильтр
        </button>

        <ng-container *ngIf="isAddFiltersOpened">
          <mat-form-field class="filter-trainer-field" appearance="fill">
            <mat-label>Тренер</mat-label>
            <input matInput type="text" [(ngModel)]="tableFiltering.trainer" (ngModelChange)="tableHandler()">
            <button *ngIf="tableFiltering.trainer" matSuffix mat-icon-button aria-label="Clear"
                    (click)="tableFiltering.trainer='';tableHandler()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="filter-members-field" appearance="fill">
            <mat-label>Количество участников</mat-label>
            <input matInput min="0" type="number"
                   value="{{tableFiltering.membersCount === -1 ? '' : tableFiltering.membersCount}}"
                   [formControl]="memberCount"
                   (ngModelChange)="tableFiltering.membersCount = memberCount.value == null
                                                                ? -1
                                                                : memberCount.value;tableHandler()">
          </mat-form-field>
        </ng-container>

        <button class="reset-filters-button" (click)="resetFilters(); tableHandler()">
          <mat-icon class="icon" svgIcon="x"></mat-icon>
          Сбросить
        </button>

      </div>
      <div class="plannings-table">

        <table #table class="plannings-rows" mat-table [dataSource]="dataSource" matSort
               (matSortChange)="this.sortBy=$event;tableHandler()">

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата начала</th>
            <td mat-cell *matCellDef="let planningRow"> {{convertDate(planningRow.date)}} </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Название</th>
            <td mat-cell *matCellDef="let planningRow">{{planningRow.title}}</td>
          </ng-container>

          <ng-container matColumnDef="membersCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Участников</th>
            <td mat-cell *matCellDef="let planningRow"> {{planningRow.membersCount}} </td>
          </ng-container>

          <ng-container matColumnDef="trainer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Тренер</th>
            <td mat-cell *matCellDef="let planningRow"> {{planningRow.trainer}} </td>
          </ng-container>

          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Прогресс</th>
            <td mat-cell *matCellDef="let planningRow">
              <ng-container *ngIf="planningRow.progress!==100; else complete">
                <mat-icon class="icon" svgIcon="progress"></mat-icon>
              </ng-container>
              <ng-template #complete>
                <mat-icon class="icon" svgIcon="ok"></mat-icon>
              </ng-template>
              {{planningRow.progress}} %
            </td>
          </ng-container>

          <ng-container matColumnDef="menu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td class="options-menu" mat-cell *matCellDef="let planningRow">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="openPlanningDialog(planningRow.id)" mat-menu-item>
                  <mat-icon class="icon" svgIcon="edit"></mat-icon>
                  <span>Редактировать</span>
                </button>
                <button (click)="deletePlanning(planningRow.id)" mat-menu-item>
                  <mat-icon class="icon" svgIcon="del"></mat-icon>
                  <span>Удалить слот</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>


    </mat-tab>


    <mat-tab label="Индивидуальное"> Coming soon...</mat-tab>
  </mat-tab-group>
</div>
