<!--<header>This navigation header</header>-->

<div class="container">
  <mat-toolbar class="main-header">
    <button class="menu-button" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button (click)="addPlanning()" class="add-planning-button">
      <mat-icon class="icon" svgIcon="add"></mat-icon>
      <div>Запланировать</div>
    </button>

  </mat-toolbar>


  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side" class="sidenav"
                 [fixedInViewport]="false" >
      <mat-nav-list>
        <video autoplay loop muted playsinline>
          <source src="https://external-preview.redd.it/omN7ysw23bxp2xUd6QGsfzjgjmIljShFWdohjWauGiU.gif?format=mp4&s=29986d03deb0a764f4fe3096e4f1feb6a6943b5e" type="video/mp4">
        </video>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="main-content">

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>















