<div class="dialog-page">
  <div class="dialog-header">
    <h1 mat-dialog-title>
      Планирование
    </h1>
    <mat-dialog-actions align="end">
      <button class="btn ok" (click)="saveChanges()" [mat-dialog-close]="true">
        <mat-icon class="icon" svgIcon="ok"></mat-icon>
      </button>
      <button class="btn" mat-dialog-close>
        <mat-icon class="icon" svgIcon="x"></mat-icon>
      </button>
    </mat-dialog-actions>
  </div>
  <div *ngIf="planning" class="planning-content" mat-dialog-content>

    <mat-tab-group>
      <mat-tab label="Основное">

        <div class="events-tab">
          <div class="large-form">
            <mat-form-field class="planning-name" appearance="fill">
              <mat-label>Программа</mat-label>
              <mat-icon class="select-icon" svgIcon="expand"></mat-icon>
              <mat-select placeholder="{{programTitleEnum[planning.title]}}"
                          [(ngModel)]="planning.title">
                <mat-option *ngFor="let num of getEnumKeys(programTitleEnum)" [value]="num">
                  {{programTitleEnum[num]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <h2 class="subtitle">Мероприятие, дата и время проведения</h2>

          <div *ngFor="let form of formArr.controls; index as idx">
            <form [formGroup]="form">
              <div class="event">

                <div class="large-form">
                  <mat-form-field class="event-form" appearance="fill">
                    <mat-label>Мероприятие</mat-label>
                    <input matInput placeholder="Название мероприятия" formControlName="eventName">
                  </mat-form-field>
                </div>

                <div class="event-settings">

                  <div class="date-picker">
                    <mat-form-field appearance="fill">
                      <mat-label>Дата</mat-label>
                      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                      <mat-datepicker #dp></mat-datepicker>
                      <input matInput [matDatepicker]="dp" formControlName="date">
                    </mat-form-field>
                  </div>

                  <div class="time-picker">
                    <mat-form-field>
                      <mat-label>Время</mat-label>
                      <input matInput type="time" formControlName="time" placeholder="Время"
                             pattern="([0-1][0-9])|(2[0-3]):[0-5][0-9]|60">
                    </mat-form-field>
                  </div>

                  <div class="trainer-form">
                    <mat-form-field appearance="fill">
                      <mat-icon class="icon" svgIcon="trainer"></mat-icon>
                      <mat-label>Тренер</mat-label>
                      <mat-icon class="select-icon" svgIcon="expand"></mat-icon>
                      <mat-select formControlName="trainer">
                        <mat-option *ngFor="let num of getEnumKeys(trainerEnum)" [value]="num">
                          {{trainerEnum[num]}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

              </div>
            </form>
          </div>

          <h2 class="subtitle conditions">Условия записи по коду</h2>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            [(ngModel)]="planning.joinCondition">
            <mat-radio-button class="example-radio-button" *ngFor="let num of getEnumKeys(joinCondEnum)" [value]="num">
              {{joinCondEnum[num]}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-tab>


      <mat-tab label="Участники">

        <div class="members-tab">

          <div class="left-side">

            <h2 class="subtitle">Доступные участники</h2>
            <div class="member-filters">
              <ng-container *ngIf="filtersDisplayed.search">
                <mat-form-field class="search-form-field" appearance="fill">
                  <mat-icon class="icon" svgIcon="search"></mat-icon>
                  <mat-label>Поиск</mat-label>
                  <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="filterHandler()">
                  <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear"
                          (click)="searchText='';filterHandler()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </ng-container>

              <ng-container *ngIf="filtersDisplayed.group">
                <mat-form-field appearance="fill">
                  <mat-label>Группа</mat-label>
                  <mat-icon class="select-icon" svgIcon="expand"></mat-icon>
                  <mat-select #group
                              [formControl]="groupControl"
                              (ngModelChange)="membersFilter.group=groupControl.value; filterHandler();">
                    <mat-option (click)="membersFilter.group=-1" value="">Все</mat-option>
                    <mat-option *ngFor="let num of getEnumKeys(groupEnum)" [value]="num">
                      {{groupEnum[num]}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>

              <ng-container *ngIf="filtersDisplayed.position">
                <mat-form-field appearance="fill">
                  <mat-label>Должность</mat-label>
                  <mat-icon class="select-icon" svgIcon="expand"></mat-icon>
                  <mat-select #position
                              [formControl]="positionControl"
                              (ngModelChange)="membersFilter.position=positionControl.value; filterHandler();">
                    <mat-option (click)="membersFilter.position=-1" value="">Все</mat-option>
                    <mat-option *ngFor="let num of getEnumKeys(positionEnum)" [value]="num">
                      {{positionEnum[num]}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>

              <ng-container *ngIf="filtersDisplayed.experience">
                <mat-form-field appearance="fill">
                  <mat-label>Стаж</mat-label>
                  <mat-icon class="select-icon" svgIcon="expand"></mat-icon>
                  <mat-select #experience
                              [formControl]="experienceControl"
                              (ngModelChange)="membersFilter.experience=experienceControl.value; filterHandler();">
                    <mat-option (click)="membersFilter.experience=-1" value="">Все</mat-option>
                    <mat-option *ngFor="let num of getEnumKeys(experienceEnum)" [value]="num">
                      {{experienceEnum[num]}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </div>


            <div class="filter-info">

              <div class="settings-panel">
                <p>{{membersList.length}} пользователя</p>

                <button class="settings-button" mat-button [matMenuTriggerFor]="menu">
                  <mat-icon class="icon" svgIcon="filter"></mat-icon>
                  Настроить
                </button>
                <button class="reset" mat-button (click)="resetFilters()">
                  <mat-icon class="icon" svgIcon="x"></mat-icon>
                  Сбросить
                </button>
                <mat-menu class="check-menu" #menu="matMenu">
                  <p>Системные поля</p>
                  <div mat-menu-item>
                    <mat-checkbox (click)="$event.stopPropagation();"
                                  [(ngModel)]="filtersDisplayed.search">
                      Поиск
                    </mat-checkbox>
                  </div>
                  <div mat-menu-item>
                    <mat-checkbox (click)="$event.stopPropagation();"
                                  [(ngModel)]="filtersDisplayed.group">
                      Группа
                    </mat-checkbox>
                  </div>
                  <div mat-menu-item>
                    <mat-checkbox (click)="$event.stopPropagation();"
                                  [(ngModel)]="filtersDisplayed.position">
                      Должность
                    </mat-checkbox>
                  </div>
                  <div mat-menu-item>
                    <mat-checkbox (click)="$event.stopPropagation();"
                                  [(ngModel)]="filtersDisplayed.experience">
                      Стаж
                    </mat-checkbox>
                  </div>

                  <p class="disabled">Дополнительные</p>
                  <div mat-menu-item>
                    <mat-checkbox disabled="">
                      Подразделение
                    </mat-checkbox>
                  </div>
                  <div mat-menu-item>
                    <mat-checkbox disabled="">
                      Округ
                    </mat-checkbox>
                  </div>
                  <div mat-menu-item>
                    <mat-checkbox disabled="">
                      Город
                    </mat-checkbox>
                  </div>
                </mat-menu>
              </div>
            </div>

            <div class="example-container all-members-container">
              <mat-checkbox class="example-box all-check"
                            [checked]="isCopyAllMembers"
                            [indeterminate]="someChecked(false)"
                            (change)="setAllMembersChecked($event.checked)">
                Все пользователи
              </mat-checkbox>
              <div
                cdkDropList
                [cdkDropListConnectedTo]="[joinedList]"
                [cdkDropListData]="membersList"
                class="example-list"
                cdkDropListSortingDisabled
                [cdkDropListEnterPredicate]="noReturnPredicate"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of membersList; let i = index"
                     cdkDrag
                     (cdkDragStarted)="isDragging = true">

                  <mat-checkbox [(ngModel)]="item.checked"
                                (ngModelChange)="updateAllChecked(false)">
                    {{item.name}}
                  </mat-checkbox>

                </div>
              </div>
            </div>
          </div>

          <div class="right-side">
            <div class="example-container">
              <h2 class="subtitle">Участники мероприятия</h2>

              <div class="example-box">
                <ng-container *ngIf="joinedMembers.length > 0">
                  <mat-checkbox class="all-check"
                                [checked]="isDeleteAllJoined"
                                [indeterminate]="someChecked()"
                                (change)="setAllJoinedChecked($event.checked)">
                    Все пользователи
                  </mat-checkbox>
                </ng-container>
                <button class="trashbox-button" [hidden]="countChecked()==0" (click)="deleteCheckedJoined()">
                  <mat-icon class="icon" svgIcon="trashbox"></mat-icon>
                </button>
              </div>
              <div
                cdkDropList
                #joinedList="cdkDropList"
                [cdkDropListData]="joinedMembers"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box joined-list" *ngFor="let item of joinedMembers; let i = index"
                     cdkDrag>
                  <mat-checkbox [(ngModel)]="item.checked"
                                (ngModelChange)="updateAllChecked()">
                    {{item.name}}
                  </mat-checkbox>

                  <button class="trashbox-button" (click)="deleteOneJoined(item.id)">
                    <mat-icon class="icon" svgIcon="trashbox"></mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
