@import "../../../UI";

//May be bug, but if we select trainer in Dialog page,
//mat-select appears outside of page (in some cases). We can avoid this
//with method below, or if we change page scale
//::ng-deep .cdk-overlay-pane {
//  bottom: auto;
//}
.example-container {
  width: 400px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;

  &.all-members-container {
    margin-top: 29px;
  }
}

.example-list {
  min-height: 30px;
  background: white;
  border-radius: 4px;
  //overflow: hidden;
  display: block;

}

::ng-deep .check-menu.mat-menu-panel {
  .mat-menu-content {
    width: 168px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > p {
      color: $secondary-text;
      margin-top: 2px;
      margin-bottom: 8px;
      font-size: 10px;
      line-height: 12px;

      &.disabled {
        margin-top: 18px;
      }
    }
  }

  .mat-menu-item {
    height: 36px;
    padding: 0;
    display: flex;
    align-items: center;
    color: $prim;
  }

  .mat-checkbox {
    width: 100%;

    .mat-checkbox-layout {
      width: 100%;
      justify-content: space-between;

      .mat-checkbox-label {
        order: 0;
      }

      .mat-checkbox-inner-container {
        order: 1;
        background-color: transparent;
        margin-right: 2px;
        margin-left: auto;
      }
    }
  }
}

mat-checkbox {

  width: auto;

  ::ng-deep .mat-checkbox-layout {
    align-items: center;
  }

  ::ng-deep .mat-checkbox-label {
    height: 16px;
    line-height: 16px;
  }

  ::ng-deep span.mat-checkbox-inner-container {
    background: #f2f2f2;
    margin-bottom: 0;
    margin-top: 0;

    &:hover, &:focus, &:active {
      background: #e6e6e6;
    }
  }

  ::ng-deep .mat-checkbox-frame {
    border: none;
  }

  &.mat-checkbox-checked, &.mat-checkbox-indeterminate {
    ::ng-deep .mat-checkbox-background {
      background-color: transparent;

      .mat-checkbox-checkmark-path {
        stroke: $prim !important;
      }

      .mat-checkbox-mixedmark {
        background-color: $prim !important;
      }
    }
  }

  ::ng-deep .mat-checkbox-ripple, .mat-checkbox-ripple:focus, .mat-checkbox-ripple:active {
    background-color: transparent;
    width: 0;
    height: 0;
  }
}

.example-box {
  padding: 10px 8px;// 10px 0;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;

  &:hover {
    background: $hover-checkbox;

    ::ng-deep span.mat-checkbox-inner-container {
      background: #e6e6e6;
    }
  }

  ::ng-deep span.mat-checkbox-inner-container {
    margin-right: 44px;
  }
}

.trashbox-button {
  height: 16px;
  width: 16px;
  margin-right: 12px;

  .icon {
    width: 16px;
    height: 16px;
  }

  justify-content: center;
  background: transparent;
  cursor: pointer;
  border: none;
}

.all-check {
  ::ng-deep span.mat-checkbox-inner-container {
    margin-right: 8px;
  }
}

.joined-box {
  cursor: auto;

  button {
    display: none;
  }

  &:hover button {
    display: block;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

//::ng-deep .cdk-overlay-pane {
//  min-height: 100%;
//}
::ng-deep .mat-dialog-container {
  height: auto;
  padding: 20px 52px 25px 25px;
}


.dialog-page {
  width: 64vw;
  position: relative;


  .mat-dialog-content {
    min-height: 100%;
    max-height: 100%;
    height: 100%;
  }

  * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    font-style: normal;
    font-size: 12px;
    line-height: 16px;
  }


  .dialog-header {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;

    > * {
      margin: 0;
      padding: 0;
    }

    h1 {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    }

    .btn {
      @extend .iconized-button;
      background-color: transparent;

      height: 24px;

      &.ok {
        margin-right: 14px;
      }

      .icon {
        width: 15px;
        height: 15px;

        margin: 0;
        padding: 0;
      }
    }

  }


  mat-tab-group {

    @extend .mat-tab-custom;

    .subtitle {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
    }

    //::ng-deep .mat-tab-body-content {
    //  overflow-y: hidden;
    //}

    .events-tab {
      @extend .input-form-field;
      padding-top: 22px;

      .subtitle {
        margin-top: 36px;
        &.conditions {
          margin-bottom: 27px;
        }
      }

      .large-form {
        @include form-width(100%);
        margin-bottom: 8px;
      }


      .event-settings {
        display: flex;
        justify-content: flex-end;
        padding-left: 33px;
        margin-bottom: 8px;


        flex-shrink: 0;
        position: relative;


        .trainer-form {
          @extend .input-form-field;
          ::ng-deep {
            .mat-form-field-flex {
              padding-left: 34px;
            }
          }
        }

        > * {
          width: calc((100%) / 3);
          margin-left: 15px;
          @include form-width(100%);
        }


        .date-picker, .time-picker {
          ::ng-deep mat-form-field .mat-form-field-flex {
            .mat-form-field-infix {
              order: 1;
            }

            button {
              width: 34px;
            }
            .mat-button-wrapper {
              height: 21px;
              padding-top: 5px;
            }

            .mat-form-field-suffix {
              order: 0;

              .mat-focus-indicator {
                justify-content: flex-start;
              }
            }
          }
        }

        @extend .input-form-field;
      }


      mat-radio-button {
        display: block;
        margin: 16px 0;

        &.mat-radio-checked {
          ::ng-deep .mat-radio-outer-circle {
            background-color: $active;
          }
        }

        ::ng-deep {
          .mat-radio-ripple {
            display: none;
          }

          .mat-radio-outer-circle {
            border: none;
            background-color: $prim-radio-btn;

            &:hover {
              background-color: $hover;
            }
          }

          .mat-radio-inner-circle {
            background-color: $prim;
          }
          .mat-radio-label-content {
            padding-left: 16px;
          }
        }
      }
    }

    .members-tab {
      display: flex;
      padding-top: 36px;

      .left-side {
        width: calc(52% - 2px);
        margin: 0;
        position: relative;
      }
      .right-side {
        width: calc(48% + 2px);
        margin: 0;
      }

      .left-side {
        .member-filters {
          display: flex;
          flex-wrap: wrap;

          @extend .input-form-field;
          .search-form-field {
            ::ng-deep {
              .mat-form-field-flex {
                padding-left: 34px;
              }
            }
          }

          > * {
            width: 50%;
            @include form-width(100%);
            margin-bottom: 8px;

          }
          .mat-form-field ::ng-deep .mat-form-field-wrapper {
            margin-right: 15px;
            width: 86%;
          }
        }

        .settings-panel {
          display: flex;
          align-items: center;
          justify-content: space-between;

          > p {
            margin: 0;
          }

          > button {
            @extend .iconized-button;

            &.reset {
              color: $secondary-text;
              margin-right: auto;
              margin-left: 6px;
              font-weight: 600;

              .icon {
                margin-right: 10px;
                padding-right: 2px;
                padding-top: 0;
              }
            }
          }
          .settings-button {
            margin-left: 30px;

            .icon {
              width: 14px;
              height: 14px;
              margin-right: 10px;
            }
          }
        }
      }
    }


  }

}
