@import "../../../UI";

.example-container {
  width: 400px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  min-height: 30px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

::ng-deep .mat-menu-panel {
  .mat-menu-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > p {
      text-align: center;
      color: $secondary-text;
      margin-top: 15px;
    }
  }

  .mat-menu-item {
    height: 36px;
    padding: 0;
    align-items: center;
  }

  .mat-checkbox {
    width: 100%;

    .mat-checkbox-layout {
      width: 100%;
      justify-content: space-between;

      .mat-checkbox-label {
        order: 0;
      }

      .mat-checkbox-inner-container {
        order: 1;
      }
    }
  }
}

mat-checkbox {

  width: auto;

  ::ng-deep .mat-checkbox-layout {
    align-items: center;
  }

  ::ng-deep .mat-checkbox-label {
    height: 16px;
    line-height: 16px;
  }

  ::ng-deep span.mat-checkbox-inner-container {
    background: #f2f2f2;
    margin-bottom: 0;
    margin-top: 0;

    &:hover, &:focus, &:active {
      background: #e6e6e6;
    }
  }

  ::ng-deep .mat-checkbox-frame {
    border: none;
  }

  &.mat-checkbox-checked, &.mat-checkbox-indeterminate {
    ::ng-deep .mat-checkbox-background {
      background-color: transparent;

      .mat-checkbox-checkmark-path {
        stroke: $prim !important;
      }

      .mat-checkbox-mixedmark {
        background-color: $prim !important;
      }
    }
  }

  ::ng-deep .mat-checkbox-ripple, .mat-checkbox-ripple:focus, .mat-checkbox-ripple:active {
    background-color: transparent;
    width: 0;
    height: 0;
  }
}

.example-box {
  padding: 10px 8px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;

  &:hover {
    background: $hover-checkbox;

    ::ng-deep span.mat-checkbox-inner-container {
      background: #e6e6e6;
    }
  }

  ::ng-deep span.mat-checkbox-inner-container {
    margin-right: 44px;
  }
}

.trashbox-button {
  height: 16px;
  width: 16px;
  margin-right: 12px;

  .icon {
    width: 16px;
    height: 16px;
  }

  justify-content: center;
  background: transparent;
  cursor: pointer;
  border: none;
}

.all-check {
  ::ng-deep span.mat-checkbox-inner-container {
    margin-right: 8px;
  }
}

.joined-list {
  cursor: auto;

  button {
    display: none;
  }

  &:hover button {
    display: block;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.dialog-page {
  height: 100vh;
  width: 70vw;

  * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    font-style: normal;
    font-size: 12px;
    line-height: 16px;
  }


  .dialog-header {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;

    > * {
      margin: 0;
      padding: 0;
    }

    h1 {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    }

    .btn {
      @extend .iconized-button;
      background-color: transparent;

      height: 24px;

      .icon {
        width: 14px;
        height: 14px;

        margin: 0;
        padding: 0;
      }
    }

  }


  mat-tab-group {

    @extend .mat-tab-custom;

    .subtitle {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
    }

    ::ng-deep .mat-tab-body-content {
      overflow-y: hidden;
    }

    .events-tab {
      @extend .input-form-field;

      .large-form {
        @include form-width(100%)
      }


      .event-settings {
        display: flex;
        justify-content: flex-end;
        padding-left: 30px;

        flex-shrink: 0;
        position: relative;

        > * {
          width: calc((100%) / 3);
          margin-left: 15px;
          @include form-width(100%);
        }


        .date-picker, .time-picker {
          ::ng-deep mat-form-field .mat-form-field-flex {
            .mat-form-field-infix {
              order: 1;
            }

            .mat-form-field-suffix {
              order: 0;

              .mat-focus-indicator {
                justify-content: flex-start;
              }
            }
          }
        }

      }


      mat-radio-button {
        display: block;
        margin: 10px 0;

        &.mat-radio-checked {
          ::ng-deep .mat-radio-outer-circle {
            background-color: $active;
          }
        }

        ::ng-deep {
          .mat-radio-ripple {
            display: none;
          }

          .mat-radio-outer-circle {
            border: none;
            background-color: $prim-radio-btn;

            &:hover {
              background-color: $hover;
            }
          }

          .mat-radio-inner-circle {
            background-color: $prim;
          }
        }
      }
    }

    .members-tab {
      display: flex;

      .left-side, .right-side {
        width: 50%;
        margin: 0;
      }

      .left-side {
        .member-filters {
          display: flex;
          flex-wrap: wrap;

          @extend .input-form-field;

          > * {
            width: 50%;
            @include form-width(100%);
          }
        }

        .settings-panel {
          display: flex;
          align-items: center;

          > p {
            margin: 0;
          }

          > button {
            @extend .iconized-button;

            &.reset {
              color: $secondary-text;

              .icon {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }
    }


  }

}
